
<!DOCTYPE html>
<html lan="en">

<head th:replace="snippets.html :: name_head"></head>
<body>

	<nav th:replace="snippets.html :: name_navbar"></nav>
	<header>
	<div class="toast align-items-center text-white border-0"
			style="position: absolute; background-color: red; top: 10px; right: 10px;"
			role="alert" aria-live="assertive" aria-atomic="true" id="EpicToast"></div>
		<div class="toast align-items-center text-white border-0"
			style="position: absolute; background-color: green; top: 10px; right: 10px;"
			role="alert" aria-live="assertive" aria-atomic="true" id="EpicToast1"></div>
	
	</header>
	


	<div class="container-fluid">
		


		<!-- Blank Row -->
		<div class="row">
			<div style="position: relative; left:8px ">
				<h1>Brand Report</h1>
				<button type=button class="btn btn-sm btn-outline-primary mr-2" id="pdf" style="position: relative;">Download Report</button>
			</div>
			<br> <br>
		</div>

		<div class="row">
			<div class="col-12 table-responsive">
				<table class="table table-striped" id="brandreport-table">
					<thead>
						<tr>
							<th scope="col">Brand</th>
							<th scope="col">Category</th>


						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>


			</div>
		</div>






	</div>
	<!-- Container end -->
	<footer class="footer">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script th:src="@{/static/api6.js}"></script>
	</footer>









</body>
</html>