
<!DOCTYPE html>
<html lan = "en">

<head th:replace="snippets.html :: name_head"></head>
<body>

<nav th:replace="snippets.html :: name_navbar"></nav>


<div class="container">

		
		
		<!-- Blank Row -->
	<div class="row">
	<div class = "text-center"><h1>Brand Report</h1></div>
	<br>
	<br>
	</div>
		
		<div class="row">
		<div class = "col-12">
		<table class="table table-dark table-striped" id = "brandreport-table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Brand</th>
      <th scope="col">Category</th>
     
    
    </tr>
  </thead>
  <tbody >
   
  </tbody>
</table>
		
		
		</div>
	</div>	
			
			
			

			
	
</div><!-- Container end -->
<footer class="footer" >
Copyright Increff 2021
&nbsp;
[[${info.getMessage()}]]
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:src="@{/static/api6.js}"></script>
</footer>









</body>
</html>